/* TODO: Active reset.css before beginning styling! */
/* TODO: Search-nav buttons should start hidden, by default. */
/* TODO: "Search results" header should start hidden, by default */




/* Light Box */

.lightbox {
    display: none;
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100%;
    text-align: center;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.8);
}

  .lightbox:target {
    outline: none;
  }

.embed-container {
  position: relative;
  padding-top: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}
    .embed-container iframe {
      position: absolute;
      padding-top: 10%;
      left: 50%;
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
      width: 90%;
      height: 90%;
    }


